.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    max-width: 400px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content h2 {
    margin-top: 0;
    text-align: center;
    color: #333;
}

.modal-content ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.modal-content ul li {
    margin-bottom: 10px; /* Add gap between list items */
}

.modal-content button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 20px; /* Add gap between list and button */
}

.modal-content button:hover {
    background-color: #45a049;
}